{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    form > * {
        margin-top: 10px;
    }
</style>
    <form method="post" enctype="multipart/form-data" style="display: flex;flex-flow: column;">
        {% csrf_token %}
        <input type="file" name="avatar">
        <p style="text-align: center;font-size: 20px;">header</p>
        <input name="header" type="text" style="width: 400px;font-size: 30px;margin: 0 auto;">
        <p style="text-align: center;font-size: 20px;">Text</p>
        <textarea name="text" style="font-size: 20px;" name="" id="" cols="30" rows="12"></textarea>
        <button type="submit" style="font-size: 25px;width: 100px;margin-left: 93%;">Post</button>
    </form>
{% endblock %}